---
const { data } = Astro.props;
const { navn } = Astro.props;
const { kategori } = Astro.props;
console.log(data);
---

<!-- <img class="maleri" src={`public/Images/hjemmeside_billeder/${url}`} /> --><!-- {
  data.id === 1 && (
    <div class="container">
      <a href={`single/${data.id}`}>
        <article>
          <h1>{data.id}</h1>
          <h2>{data.titel}</h2>
          <p>{data.geopositioner}</p>
          <p>{data.kategori}</p>
        </article>
      </a>
    </div>
  )
} -->{
  data.kategori === `fisk` && (
    <a href={`single/${data.id}`}>
      <article>
        <img
          class="maleri"
          src={`public/Images/hjemmeside_billeder/${data.url}`}
        />
        <h1>{data.id}</h1>
        <h2>{data.titel}</h2>
      </article>
    </a>
  )
}
