---
const { data } = Astro.props;
console.log(data);
---

<a href={`single/${data.id}`}>
  <article>
    <h1>{data.id}</h1>
    <h2>{data.titel}</h2>
    <p>{data.geopositioner}</p>
    <p>{data.Slug}</p>
  </article>
</a>
