---
const { data } = Astro.props;
console.log(data);
---

{
  data.kategori === `sommerfugle` && (
    <div class="image-container">
      <a href={`single/${data.id}`}>
        <img
          class="maleri"
          src={`public/Images/hjemmeside_billeder/${data.url}`}
          alt={data.titel}
        />
      </a>
      <h2>{data.titel}</h2>
      <p>{data.geopositioner}</p>
      <p>{data.Slug}</p>
    </div>
  )
}

<style>
  .maleri {
    max-width: 20rem;
    height: auto;
    display: block;
  }
</style>
